<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GGM_MultiGPU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <userSettings>
        <GGM_MultiGPU.Properties.Settings>
            <setting name="server" serializeAs="String">
                <value />
            </setting>
            <setting name="port" serializeAs="String">
                <value>13416</value>
            </setting>
            <setting name="login" serializeAs="String">
                <value />
            </setting>
            <setting name="password" serializeAs="String">
                <value />
            </setting>
            <setting name="GPU0" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPU1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPU2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPU3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPU4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPU5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="GPU6" serializeAs="String">
                <value>False</value>
            </setting>
        </GGM_MultiGPU.Properties.Settings>
    </userSettings>
</configuration>