<?xml version="1.0" encoding="utf-8"?>
<Config>
  <PrimaryConnection>
    <ConnectionAddress>POOLADDRESS</ConnectionAddress>
    <ConnectionPort>13416</ConnectionPort>
    <Ssl>false</Ssl>
    <Login>userlogin</Login>
    <Password>secretpwd</Password>  
  </PrimaryConnection>
  
  <SecondaryConnection>
    <ConnectionAddress>POOLADDRESS</ConnectionAddress>
    <ConnectionPort>13416</ConnectionPort>
    <Ssl>false</Ssl>
    <Login>userlogin</Login>
    <Password>secretpwd</Password>  
  </SecondaryConnection>

  <LogOptions>
    <DisableLogging>false</DisableLogging>
    <FileMinimumLogLevel>ERROR</FileMinimumLogLevel>
    <ConsoleMinimumLogLevel>ERROR</ConsoleMinimumLogLevel>
    <KeepDays>2</KeepDays>
  </LogOptions>

  <GPUOptions>
    <GPUOption>
      <GPUType>NVIDIA</GPUType>
      <DeviceID>0</DeviceID>
      <PlatformID>0</PlatformID>
      <Enabled>false</Enabled>
    </GPUOption>
  </GPUOptions>
</Config>