<?xml version="1.0" encoding="utf-8"?>
<Config>
  <ConnectionAddress>IP</ConnectionAddress>
  <ConnectionAddressPort>13416</ConnectionPort>
  <Login>userlogin</Login>
  <Password>secrepwd</Password>
  <SecondaryLogin></SecondaryLogin>
  <SecondaryPassword></SecondaryPassword>
  <SecondaryConnectionAddress></SecondaryConnectionAddress>
  <SecondaryConnectionPort>0</SecondaryConnectionPort>
</Config>